.sidebar {
  max-width:350px;
  background-color: #2D457D;
  color: #fff;
  padding: 10px;
  position: fixed;
  height: 100%;

}

.profile {
  margin-top:40px;
  text-align: center;
}

.profile img {
  border-radius: 50%;
  width: 150px;
  margin-bottom: 1rem;
}

.contact-info {
  margin-top: 2rem;
}

.contact-info p {
  margin: 10px 20px;
}

.social-links {
  margin-top: 2rem;
  text-align: center;
}

.social-links a {
  display: inline-block;
  margin: 0.5rem;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #d3d3d3; /* 회색 계열 */
}

.social-links a i {
  margin-right: 8px;
  vertical-align: middle;
}
